
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
	box-sizing: border-box;
	background-color: #291B25;
}

/*
Page
*/
body {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

/*
Hero
*/
.hero {
	background-attachment: fixed;
	background-color: #291B25;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: space-between;
	padding: 20px;
	position: relative;
	width: 100%;
}

.hero:after {
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.hero-menu {
	z-index: 2;
	display: flex;
}

.hero-menu .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.hero-logo {
	display: inline-block;
}

.hero-lista {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hero-lista-item {
	margin: 0 25px;
}

.hero-lista-item a,
.catalogo-menu-lista-item a {
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.hero-lista-item a:hover {
	color: #E0C94F;
}

.hero-usuario {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hero-usuario-foto {
	border-radius: 100%;
	width: 50px;
}

.hero-usuario-nome {
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 15px;
}

.hero-usuario-nome a {
	color: #fff;
	text-decoration: none;
}
.hero-usuario-nome a:hover {
	color: #E0C94F;
}

.hero-usuario-foto img {
	width: 100%;
	height: auto;
}

.hero-conteudo {
	width: 100%;
}

.hero-conteudo .container {
	position: relative;
	z-index: 2;
}

.hero-titulo {
	color: #fff;
	font-size: 6.5em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 0;
	text-transform: uppercase;
}

.hero-genero {
	display: flex;
	margin: 15px 0 30px;
	font-size: 13px;
}

.hero-genero-item {
	color: #fff;
	text-decoration: none;
	margin-right: 15px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.hero-genero-item:hover {
	color:#E0C94F;
}

.hero-botao {
	display: inline-block;
	padding: 15px 50px;
	color: #000;
	font-size: 1.5em;
	text-decoration: none;
	background-color: #E0C94F;
	border-radius: 40px;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.hero-botao:hover {
	background-color: #E0C94F;
}

.hero-botao i {
	font-size: 1.5em;
	position: absolute;
	right: 15px;
	top: 12px;
}

.hero-informacao {
	padding: 20px 0;
	font-size: 1.4em;
	color: #fff;
}

.hero-informacao p:last-child {
	color: #E0C94F;
}

/*
Movies Cards
*/
.catalogo {
	background-color: #291B25;
	width: 100%;
}

.catalogo-menu {
	background-color: #291B25;
	width: 100%;
	border-width: 100px;
	border-top: solid;
	border-radius: 3px;
	border-width: 3px;
	border-color: #E0C94F;
}

.catalogo-menu-lista {
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0 auto;
	padding: 0 20px;
	
}

.catalogo-menu-lista-item {
	margin: 0 20px;

}

.catalogo-menu-lista-item a {
	color: #fff;
	
	display: inline-block;
	padding: 25px 0;
}

.catalogo-menu-lista-item a:hover {
	box-shadow: inset 0 -1px 0 #E0C94F;
}

.catalogo-filmes-lista {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
	width: 100%;
	
}

.catalogo-filmes-lista-item {
	background-color: #291B25;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	overflow: hidden;
	width: 24%;
	color: #fff;
}

.filme-poster {
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.filme-poster img {
	width: 100%;
	height: auto;
	border: #291B25;
	border-width: 100px;
}

/*
onHover Effect poster play
*/
.filme-poster-info {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	padding: 80px 20px;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

.catalogo-filmes-lista-item:hover .filme-poster-info {
	opacity: 1;
	visibility: visible;
}

/*
onHover Title Effect
*/
.filme-poster-info h3 {
	color: #e4bb23;
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase;
}

.filme-poster-link {
	color: #fff;
	font-size: 5em;
	transition: all 0.2s ease-in-out;
}

.filme-poster-link:hover {
	color: #e4bb23;
}

.filme-sinopse {
	padding: 10px;
	width: 100%;
}

.filme-sinopse-titulo {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.sinopse-genero {
	margin: 10px 0;
	display: flex;
}

.sinopse-genero-item {
	text-decoration: none;
	font-size: 1.2em;
	color: #fff;
}

.sinopse-genero-item:hover {
	text-decoration: underline;
}

/*
Film grade
*/
.filme-nota {
	margin: 0;
	align-items: center;
	display: flex;
	font-size: 2em;
	font-weight: bold;
	justify-content: space-between;
	color: #fedb5c;
}

.filme-nota i {
	color: #ccc;
	cursor: pointer;
}


.titpag {
	color: #fff;
    font-size: 22px;
    font-weight: bold;

}


.rodape {
	border-top: solid;
	border-color: #E0C94F;
	background-color: #291B25;
	color: #fff;
	width: 100%;
	align-content: end;
}

.rodape-imagem {

	width: 120px;
	align-items: center;

}
.rodape .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rodape-lista {
	padding: 0;
	list-style: none;
	display: flex;
}

